@model ASP.NET.MVC.CRUD.Models.NumbersModel

@{
    ViewData["Title"] = "Update";
}

<form asp-controller="Home" asp-action="DeleteSave" method="post">
    <input type="hidden" asp-for="Id" value="@ViewData["Id"]"/>
    <b> Delete this contact?</b>
    <p>@ViewData["Name"]</p>
    <p>@ViewData["Surname"]</p>
    <p>@ViewData["Number"]</p>
    
    <input type="submit" class="btn btn-danger" value="Delete"/>
</form>